<div class="d-outline " style="background-color: linen">
    <div class="row">
        <div class="col">
            Enter Source City:<br>
            {{query_form.query_city_1}}
            <button class="btn btn-primary" formnovalidate="formnovalidate" name="check_source_city"
                    style="background-color:cadetblue"
                    type="submit">Check
            </button>
            <button class="btn btn-primary" formnovalidate="formnovalidate" name="clear_source_city"
                    style="background-color: indianred"
                    type="submit">Clear
            </button>
        </div>
        <div class="col">
            Enter Target City:<br>
            {{query_form.query_city_2}}
            <button class="btn btn-primary" formnovalidate="formnovalidate" name="check_target_city"
                    style="background-color:cadetblue"
                    type="submit">Check
            </button>
            <button class="btn btn-primary" formnovalidate="formnovalidate" name="clear_target_city"
                    style="background-color: indianred"
                    type="submit">Clear
            </button>
        </div>
        <hr>
        <hr>
    </div>
</div>
